.video{
    width: 170px;
    height: 300px;
    
    box-shadow: 1px -1px 23px 6px rgba(0,0,0,0.45) inset,
25px 0px 20px -20px rgba(0,0,0,0.45),
0px 25px 20px -20px rgba(0,0,0,0.45),
-25px 0px 20px -20px rgba(0,0,0,0.45);

    border-radius: 30px;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    gap: 50px;
       width: 100%;
       height: 100%;   
 
    
}

.service-data{
  
    width: 100%;
   
}

.heading{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: -1px 0px 18px rgba(0,0,0,0.6);
    margin-top: 80px;
}


@media(max-width: 800px){
   .container{
    width: 100%;
  
   }
   .video{
    width: 120px;
    height: 210px;
    border-radius: 10px;
    
   }

   .event-snap{
    flex-wrap: wrap;
   }


   .service-data{
   
     width: 100%;
    
 }
   
 .event-box img{
    width: 95%;
    height: 100%;
    margin: 30px;
}

.event-box p{
 margin: 50px;
}
   
  }
  @media(max-width: 400px){
    
   
}

.event-box{
    background-color: aquamarine;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:  center;
    width: 400px;
    height: 400px;
    margin-top: 50px;
     
}

.event-box img{
    border-radius: 10px;
    box-shadow: -33px 10px 38px 22px rgba(83, 66, 36, 0.1);
}

.event-box h1{
    position: absolute;
    top: 0;
    color: rgba(28, 27, 30, 0.374);
    font-weight: bolder;
    
    
}
.event-box p{
    position: absolute;
    top: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(196, 60, 11);
     font-size: 30px;
}

.event-snap{
    display: flex;
    align-items: center ;
    justify-content:  space-evenly  ;
    width: 100%;
   margin-top: 50px;
    
}